.about-me-page {
    background: linear-gradient(to left, #BC7FCD, #ffffff);
    padding: 2rem 0;
}

.about-me-section {}

.abt-me {
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-size: 2.1rem;
}

.abt-des {
    font-family: Arial, sans-serif;
    color: #86469c;
    font-size: 1rem;
}

.qual-exp {
    margin-top: 2rem;
}

.abt {
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 1rem;
    transition: box-shadow 0.3s ease;
}

.abt:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5)
}